<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="ConfigFile_MALYSHKIN-HOME" value="C:\Users\Alex\Google Drive\pers\Csharp practice\ApplicationConfigs\FileSynchronization\app_config_MALYSHKIN-HOME.xml"/>
    <add key="FileID_mappings_MALYSHKIN-HOME" value="C:\Users\Alex\Google Drive\pers\Csharp practice\ApplicationConfigs\FileSynchronization\FileID_mappings_MALYSHKIN-HOME.csv"/>
    <add key="ConfigFile_MSKNB-184" value="C:\google drive\pers\Csharp practice\ApplicationConfigs\FileSynchronization\app_config_MSKNB-184.xml"/>
    <add key="FileID_mappings_MSKNB-184" value="C:\google drive\pers\Csharp practice\ApplicationConfigs\FileSynchronization\FileID_mappings_MSKNB-184.csv"/>
  </appSettings>
</configuration>